@import "colors.scss";

.message-container{
    display: flex;
     flex-direction: row;
     align-items: center; 
}
.like {
    position: sticky;
    top: 0;
    margin: 5px;
    margin-left: 50px;
    color: grey;
}
.example-card {
    flex-basis:700px;    
    margin-top: 10px;
    padding: 0;
    background-color: white;
    border: 1px solid $bg-grey-dark;
    border-radius: 3px;
  }
  .header{ 
    padding: 12px;
    font-weight: 700;
    font-size: 20px;
  }
  // .image-st{
  //   max-width: 700px;
  // } 
  .author-data{
    width: 100%;
  }
  .author-data span *{
    margin-left: 5px;
    margin-right: 5px;
  }
  .user{ 
    float: right; 
  }
  .avatar{
    background-size: cover; 
    position: relative;
    top: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;

  }
  .user-name{    
    top: -5px;
    margin-left:15px;
    display: inline-block;
    position: relative;
  }
  .user-title{ 
    float: right; 
  }
  .avatar-title{
    background-size: cover; 
    position: relative;
    top: -5px;    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;

  }
  .user-name-title{  
    font-weight: 400; 
    margin-left:5px;
    display: inline-block;
    position: relative;
    top:-18px;
    font-size: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  @media only screen and (max-width: 400px) {
    
  }
  @media only screen and (max-width: 700px) {
    .user {
      display: none;
   }
    .like {
       display: none;
    }
    
  }
    @media only screen and (min-width: 700px) {
      .user-title {
        display: none;
     }
      .mobile-likes {
         display: none;
      }
    }
    .block-container{
      display: block; 
    }
    .footer{
      padding-left: 10px;
      padding-right: 10px;
    }