<div class="message-container">
    <div class="like">
        <div>
            <mat-icon>thumb_up</mat-icon>
        </div>
        <div>353</div>
        <div>
            <mat-icon>thumb_down</mat-icon>
        </div>
    </div>

    <mat-card class="example-card">
        <mat-card-title>Ублюдок</mat-card-title>
        <img  class="image-st" mat-card-image src="https://primamedia.gcdn.co/f/main/2054/2053579.jpg?2d5bd05e138c3b5a03c57675d934ea96" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <div class="separator"></div>
        <mat-card-actions>
          <span>
            the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes ver
          </span>
        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-header>
            <span class="author-data">
              <span class="mobile-likes">
                <span>154 </span>
                <span style="position: relative;bottom: -4px;  color: grey;"><mat-icon>thumb_up</mat-icon></span>
            </span>
            <span style="position: relative;  color: grey;">
              3.5k
              <mat-icon style="position: relative;  color: grey;bottom: -5px;"> remove_red_eye</mat-icon>
            </span>
            <span style="position: relative;  color: grey;">
              5
              <mat-icon style="position: relative;  color: grey;bottom: -5px;">message</mat-icon>
            </span>
              <span class="user-name">Jenifer Lopez</span>
               <div class="avatar"></div> 
            </span>
         </mat-card-header>
      </mat-card>
      
</div>