<div class="message-container">
  <div class="like">
    <button [disabled]="likeStatus==='like'" (click)="like()" mat-icon-button>
      <mat-icon>thumb_up</mat-icon>
    </button>
    <div>{{totalLike}}</div>
    <button [disabled]="likeStatus==='dislike'" (click)="dislike()" mat-icon-button>
      <mat-icon>thumb_down</mat-icon>
    </button>
  </div>

  <div class="example-card">
    <div class="header">
      <div class="text">
        {{post.header}}
      </div>
<!--      
      <div class="user-title">
        <div class="avatar-title" [style.background-image]="'url('+post.userPhoto+')'"></div>
        <div class="user-name-title">{{post.userName}}</div>
      </div> -->
    </div>

    <mat-divider></mat-divider>
    <div class="block-container">
      <app-block *ngFor="let block of post.shortContent" [block]="block"></app-block>
    </div>
    <div class="footer">
      <span class="author-data">
        <span class="mobile-likes">

          <button [disabled]="likeStatus==='like'" (click)="like()" mat-icon-button>
            <mat-icon>thumb_up</mat-icon>
          </button>

          <span>{{totalLike}}</span>

          <button [disabled]="likeStatus==='dislike'" (click)="dislike()" mat-icon-button>
            <mat-icon>thumb_down</mat-icon>
          </button>
          
        </span>
        <span style="position: relative;  color: grey;">
          {{post.summary?.views || '0'}}
          <mat-icon style="position: relative;  color: grey;bottom: -5px;"> remove_red_eye</mat-icon>
        </span>
        <span style="position: relative;  color: grey;">
          {{post.summary?.comment || '0'}}
          <mat-icon style="position: relative;  color: grey;bottom: -5px;">message</mat-icon>
        </span>
        <div class="user">
          <div class="avatar" [style.background-image]="'url('+post.userPhoto+')'"></div>
          <div class="user-name">{{post.userName}}</div>
        </div>

      </span>
    </div>
  </div>

</div>