.expanded-post-component{
    max-width: 100%; 
}
.central-group{
    min-height: calc(100vh - 48px);
    display: flex; 
    flex-direction: row;
    justify-content: center; 
}
.post-block{
    flex-flow: column wrap;
    display: inline-block; 
}

 