<div class="forum-component">
  <mat-tab-group [selectedIndex]="tab" calss="mat-tab-group" mat-stretch-tabs>
    <mat-tab>
      <ng-template class="tab-header" mat-tab-label>

        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Top
      </ng-template>
      <ng-template matTabContent>
        <div class="options-posts-wrapper">
          <div class="site-options">
            <app-site-options></app-site-options>
          </div>
          <div class="post-block">
            <app-post-feed [pageName]="'top'"></app-post-feed>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">fiber_new</mat-icon>
        New
      </ng-template>
      <ng-template matTabContent>
        <div class="options-posts-wrapper">
          <div class="site-options">
            <app-site-options></app-site-options>
          </div>
          <div class="post-block">
            <app-post-feed [pageName]="'new'"></app-post-feed>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">event icon</mat-icon>
        Monthly
      </ng-template>
      <ng-template matTabContent>
        <div class="options-posts-wrapper">
          <div class="site-options">
            <app-site-options></app-site-options>
          </div>
          <div class="post-block">
            <app-post-feed [pageName]="'monthly'"></app-post-feed>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>