<div class="forum-component">
    <div class="message-container">
        <div class="like">
            <div>
                <mat-icon>thumb_up</mat-icon>
            </div>
            <div>353</div>
            <div>
                <mat-icon>thumb_down</mat-icon>
            </div>
        </div>

        <mat-card class="example-card">
            <mat-card-title>Скоропостижно умер</mat-card-title>
            <img mat-card-image src="https://primamedia.gcdn.co/f/main/2054/2053579.jpg?2d5bd05e138c3b5a03c57675d934ea96" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <div class="separator"></div>
            <mat-card-actions>
              <span>
                the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes ver
              </span>
            </mat-card-actions>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
             </mat-card-header>
          </mat-card>
          
    </div>
</div>