.image-st{
    width: 100%;
    height: auto;
}
  .image-cont{
      
    width: 100%;
    background-color: grey;
  }
.text-block{
  white-space: pre-line;
}
//   .text-cont{
//     flex-basis:700px
//   }