.image-st{
    width: 100%;
    height: auto;
}
  .image-cont{
      
    width: 100%;
    background-color: grey;
  }
.text-block{
  white-space: pre-line;
  display: inline-block;
  max-width: 500px;
  overflow: hidden;
  width: calc(100vw - 19px);
}
//   .text-cont{
//     flex-basis:700px
//   }