<ng-container [ngSwitch]="block?.type">
    <ng-container *ngSwitchCase="'text'">
        <div calss="text-cont">
            <span class="text-block">
               {{block.text}}
            </span>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'img'">
        <div calss="image-cont">
            <img class="image-st" 
                [src]="block.url">
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'video'">
        <div calss="image-cont">
            <video  class="new-image" width="100%" autobuffer="autobuffer" controls="controls" #videoPlayer>
                <source [src]="block.url+'#t=0.1'"  type='video/mp4' codecs="avc1.42E01E, mp4a.40.2"/>
            </video>
        </div>
    </ng-container>

</ng-container>