<ng-container [ngSwitch]="data?.type">
    <ng-container *ngSwitchCase="'text'">
        <app-element-text [data]="data"></app-element-text>
    </ng-container>
    <ng-container *ngSwitchCase="'img'">
        <div *ngIf="!show">
            <button type="button"  mat-stroked-button (click)="fileInput.click()">Choose File</button>
            <input hidden (change)="handleFileInput($event)" #fileInput type="file" id="file">
             or <input accept=".jpg, .jpeg, .png" [(ngModel)]="imgUrl" placeholder="paste url " class="input-img"> 
            <button class="ok-btn" (click)="setImage()" mat-stroked-button>
                link
            </button>
        </div>
        <div *ngIf="loading">
            <mat-spinner></mat-spinner>
          </div>
        <img class="new-image" *ngIf="show" [src]="data.url">
    </ng-container>
    <ng-container *ngSwitchCase="'video'">
        <div *ngIf="!show">
            <button type="button"  mat-stroked-button (click)="fileInput.click()">Choose File</button>
            <input accept=".mp4"  hidden (change)="handleVideoInput($event)" #fileInput type="file" id="file">
        </div>
        <div *ngIf="loading">
            <mat-spinner></mat-spinner>
          </div>
        <video  class="new-image" autobuffer="autobuffer" autoplay="autoplay" *ngIf="show" controls="controls" (click)="toggleVideo()" #videoPlayer>
            <source [src]="data.url" type='video/mp4' codecs="avc1.42E01E, mp4a.40.2"/>
        </video>
    </ng-container>

</ng-container>