.input-img{
    width: 50%;
    height: 32px;
    border: 1px solid grey;
    border-radius: 4px;
    display: inline-block;
}
.ok-btn{
    margin-left: 10px;
}
.new-image{
    width: 100%;
    height: auto;
}
 
 