<ng-container [ngSwitch]="data?.type">
    <ng-container *ngSwitchCase="'text'">
        <app-element-text [data]="data"></app-element-text>
    </ng-container>
    <ng-container *ngSwitchCase="'img'">
        <div *ngIf="!show">
            <button type="button"  mat-stroked-button (click)="fileInput.click()">Choose File</button>
            <input hidden (change)="handleFileInput($event.target.files)" #fileInput type="file" id="file">
             or <input accept=".jpg, .jpeg, .png" [(ngModel)]="imgUrl" placeholder="paste url " class="input-img"> 
            <button class="ok-btn" (click)="setImage()" mat-stroked-button>
                link
            </button>
        </div>
        <div *ngIf="loading">
            <mat-spinner></mat-spinner>
          </div>
        <img class="new-image" *ngIf="show" [src]="data.url">
    </ng-container>
    <ng-container *ngSwitchCase="'video'">
        enter video
    </ng-container>

</ng-container>