<div class="coments-feed-component">
<div class="coments-feed">
    <div class="top-header">Comments</div>
    <mat-divider></mat-divider>
    <app-new-comment (onAdd)="addToComments($event)" [parent]="post"></app-new-comment>
    <div *ngIf="comments">
            <div *ngFor="let c of comments">
                <app-comment [comment]="c"></app-comment>
             <app-comment [comment]="c"></app-comment> 
                <app-comment [comment]="c"></app-comment>
            </div>
        </div>
    </div>

</div>