<div class="top-bar-component">
<mat-toolbar>
    <mat-toolbar-row>
        <button class="logo" disabled mat-icon-button >
            <object type="image/svg+xml" data="assets/logo.svg" width="50" height="50" >
                Your browser does not support SVG
            </object>
        </button>
          
        
        <span>Mnet</span> 
        <span class="example-spacer"></span> 
        <button routerLink="/shop" mat-icon-button >
            <mat-icon>store</mat-icon>
        </button>     
        <button routerLink="/forum" mat-icon-button >
            <mat-icon>message</mat-icon>
        </button>
        <button *ngIf="!isLogedIn" mat-mini-fab color="accent" (click)="openLoginDialog()">
                <mat-icon>fingerprint</mat-icon>
        </button>
        <div *ngIf="isLogedIn">
            <button mat-button (click)="openUserDialog()" mat-mini-fab color="accent" >
                <mat-icon>face</mat-icon>
            </button>
            
        </div>
        
    </mat-toolbar-row>
</mat-toolbar>
</div>