@import "colors.scss";
.logo{
  margin: 4px;
  bottom: 4px;
}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  } 
 .mat-toolbar {
    min-height: 45px;
    height: 45px;
    background-color: rgb(85, 85, 85);
    color: #fff;
    min-width: 335px;
    position: relative; 
}


.right-btn-menu{
color: $bg-grey-dark;
float: right;
}

.logo-name{ 
    font-weight: 400;
    font-size: 17px;
}
.tool-btn{
  top:2px;
  margin-left: 10px;
}
.options-component{
  padding: 10px;
}

.open-popup-btn{
  display: none;
}
::ng-deep.mat-menu-panel {
  max-width: none !important;
}

.avatar{
  margin: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
}
@media only screen and (min-width: 1155px) {
  .new-post-btn{
      display: none;
  } 
}

@media only screen and (max-width: 1155px) {
  .open-popup-btn{
    display: inline-block;
  }
   
}