<pre>
These Website Standard Terms and Conditions (these “Terms” or these “Website Standard Terms and Conditions”)
contained here on this webpage, shall govern your use of this website.

These Terms apply in full force and effect to your use of this Website and by using this Site you accept all terms
and conditions in full. You must not use https://pakdim.com, if you have any objection to any of these Website 
Standard Terms and Conditions.

Intellectual Property Rights
Other than content you own, which you may have chosen to include on this Website,
Pakdim and/or its licensors own all rights to the intellectual property and material contained in this Website.
You are granted a limited license only, subject to the restrictions provided in these Terms, for purposes of viewing
the material contained on https://pakdim.com.

Restrictions
You are expressly and emphatically restricted from all of the following:Publishing any Website material in any media

Certain areas of this Website are restricted from access by you and Pakdim may further restrict access to other areas 
of this Website by you, at any time, at its sole discretion.

No warranties
Pakdim makes no express or implied warranties or representations of any kind with regards to this Website or the 
materials contained on this Website. In addition no content contained on this Website shall be considered as providing
advice to you.

Limitation of liability
Under no circumstances shall Pakdim, or any of its officers, directors and employees, be liable to you for anything
resulting from or connected to your use of this Website. Pakdim, including its officers, directors and employees shall
not be liable for any indirect, consequential or special liability resulting from or in any way related to your use of
this Website.

Severability
Should any provision of these Terms be found to be unenforceable or invalid under any applicable law, the
unenforceability or invalidity shall not render these Terms unenforceable or invalid as a whole. Any such
provisions shall be deleted without affecting the remaining provisions contained herein.

Variation of Terms
These Terms may be revised at any time Pakdim sees fit, and you are expected to review such terms on a regular basis
to ensure your understanding of all terms and conditions governing use of this Website.or notify users via email.
By using this Website you are acknowledging your responsibility to do so.

Entire Agreement
These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire agreement
between Pakdim and you with regards to your use of this Website, and replace all prior agreements and understandings
with respect to the same.

Governing Law and Jurisdiction
These Terms will be governed by and construed in accordance with the laws of Israel, and you submit to the nonexclusive
jurisdiction of the courts located in Israel for the resolution of any disputes.
</pre>